* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1254px;
  padding-left: 22px;
  padding-right: 22px;
  margin-right: auto;
  margin-left: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

li,
ol {
  list-style: none;
}